
    <div class="">
        <h1>01</h1>
        <h1>潛水布</h1>
        <h1>NEOPRENE</h1>
        <p>潛水布是一種機能性材料。具有高彈性的特點，能夠有效減緩撞擊，儘管質地輕盈，但能夠承受重量而不變形。此外，它具備防撥水和耐髒汙的性能，在極端氣候中仍能保持穩定的物性，同時能有效保溫和保冷。其觸感柔軟，可減輕長時間背在肩上的壓力，另外，直接放入洗衣機清洗非常方便。潛水布的耐久特性有助於減少對環境的影響，也能降低廢棄物的產生。</p>
    </div>
