<div class="page-title">
    <h1 class="big-title">{{ herotitle.value[0] }} <span>{{ herotitle.value[1] }}</span></h1>
    <h1 class="zh-title">{{ herotitle.value[2] }}</h1>
</div>
{% comment %} <script>console.log({{ herotitle }});</script> {% endcomment %}