.abc{
text-decoration: none;
unicode-bidi: 0;
display: flex;
flex-flow: row;
justify-content: center;
align-items: center;
text-align: center;
border-radius: 50px;
opacity: 60;
line-height: 150%;
position: absolute;
position: relative;
overflow: hidden
display: flex;
flex-flow: row;
flex-shrink: 0;
gap:20px;
        }