.abc{
text-decoration: none;
unicode-bidi: 0;
justify-content: space-between;
align-items: flex-end;
text-align: center;
border-radius: 50px;
opacity: 60;
line-height: 150%;
custom_liquid_A3DyjM
        }