{%- style -%} 
    .page-title{
        margin:120px 0;
    }
    .big-title{
        font-size:64px;
        font-weight:900;
        color:#373433;
    }
    span.green{
            color:#CDDE00;
    }
    .zh-title{
        font-size:16px;
        letter-spacing:5px;
    }
{%- endstyle -%}
<div class="custom-index-services">
    <div class="page-width">
        <div class="page-title">
            <h1 class="big-title">About <span class="green">Us</span></h1>
            <h1 class="zh-title">關於我們</h1>
        </div>
    </div>
</div>
