<div class="flex flex-col justify-center bg-black min-h-screen relative">
        <h1 class="font-black text-center text-white text-7xl tracking-widest pb-8">
          Hi, we're AXON.
        </h1>
        <h2 class="font-black text-center text-white text-5xl tracking-wider py-6">
          最好的<span class="text-green">夥伴</span>是，需要時都在的
          <span class="text-green">陪伴</span>
        </h2>
        <div class="max-w-screen-md mx-auto px-2">
          <p class="text-white leading-8">
            AXON十年來不斷地探索、構思、嘗試，觀察生活場景裡的需求時刻，並化為設計行動，打造兼具實用與個性的產品。選用潛水布Neoprene作為主要材質，從設計研發到生產製造都在台灣發生。簡約而圓潤的設計、嚴選面料的耐用性，期望來到我們生活中的夥伴，有點討喜、有點實在。
          </p>
          <p class="text-white leading-8 pt-4">
            無論是重要的工作、輕鬆的旅行，或是巷弄漫走，
            <br />
            做你每一天最好的夥伴，與你共創屬於自己的充實日常。
          </p>
        </div>
</div>