{%- style -%} 
    .page-title{
        margin:120px 0;
    }
    .big-title{
        font-size:64px;
        font-weight:900;
        color:#CDDE00;
        span{
        color:#373433;
        }
    }
    
    .zh-title{
        font-size:16px;
        letter-spacing:5px;
    }
{%- endstyle -%}
<div class="custom-index-services">
    <div class="page-width">
        {% comment %} 
        <h1>
            assign 陣列名稱 = 分類.metafields.custom.Key
            {% assign customMeta = page.metafields.custom.pagetitle %}
            {% if customMeta %} 如果 陣列存在
                {{ customMeta.value[0] }} 渲染 .value[0] = 第一個
            {% endif %}
        </h1>
         {% endcomment %}
        <div class="page-title">
            {% assign customMeta = page.metafields.custom.pagetitle %}
            {% if customMeta %}
            <h1 class="big-title">{{ customMeta.value[0] }} <span>{{ customMeta.value[1] }}</span></h1>
            <h1 class="zh-title">{{ customMeta.value[2] }}</h1>
            {% endif %}
        </div>
    </div>
</div>
