{%- style -%}
{%- endstyle -%}
{% assign logos = shop.metaobjects.brands.values %}


<div class="page-width">
  <div class="page-title">
    <h1 class="big-title text-center">Out<span>Client</span>
    </h1>
    {% for logo in logos %}
      <img
        class="slide"
        srcset="{{ logo.photo | image_url: width: 800 }}"
        sizes="(min-width: 400px) 298px, 40vw"
        alt=""
        width="auto"
        height="100%">
    {% endfor %}
  </div>
</div>