.test{
    height:100px;
    background-color:#000;
}
.py-40{
    padding: 40px 0;
}

/* FONT */
.display-1{
    font-size: 64px;
    font-weight: 700;
    line-height:150%;
}
.display-2{
    font-size: 48px;
    font-weight: 700;
    line-height:150%;
}
.heading-1{
    font-size: 32px;
    font-weight: 700;
}
.heading-2{
    font-size: 28px;
    font-weight: 700;
}
.heading-3{
    font-size: 24px;
    font-weight: 700;
    line-height:150%;
}
.text-justify{
    text-align:justify;
}
.p-absolute{
    position: absolute;
    transform: rotateZ(90deg);
    top: 15%;
    right: -3%;
}
.p-relative{
    position: relative;
}
.line-h250{
    line-height: 250%;
}
.line-h150{
    line-height: 150%;
}
.spacing-l{
    letter-spacing: 5px;
}

/* Flex */
.flex-row{
    display:flex;
    flex-flow:row;
}
.flex-col{
    display:flex;
    flex-flow:column;
}
.flex-row.center,
.flex-col.center{
    justify-content:center;
    align-items:center;
}

/* COLOR */
.bg-green{
    background-color:#CDDE00;
    color:#373433;
}
.bg-gray{
    background-color:#373433;
    color:#FFFFFF7a;
}
.text-green{
        color:#CDDE00;
}
.text-gray{
    color:#373433;
}
.text-white{
    color:#FFFFFF;
}

/* BUTTON */
.normal-btn{
    display: inline-block;
    background-color: #CDDE00;
    color: #373433;
    margin-top: 40px;
    padding: 10px 40px;
    border-radius: 30px;
    text-decoration: none;
}
.arrow-btn{
    display:flex;
    flex-flow:row;
    justify-content:center;
    align-items:center;
    position: absolute;
    right:0px;
    bottom:0px;
    z-index:1;
}
.btn-green{
    display:flex;
    flex-flow:row;
    justify-content:center;
    align-items:center;
    width:60px;
    height:60px;
    border-radius:35px;
    position: absolute;
    top:30px;
    left:30px;
    background-color:#CDDE00;
    &::before {
        content: url("https://cdn.shopify.com/s/files/1/0822/9892/9425/files/arrow-black.svg?v=1712127365");
        display: block;
        width: 22px;
        margin:7px 0 0 2px ;
        transform:rotate(0.93turn);
    }
}
.btn-gray{
    display:flex;
    flex-flow:row;
    justify-content:center;
    align-items:center;
    width:60px;
    height:60px;
    border-radius:35px;
    position: absolute;
    top:30px;
    left:30px;
    background-color:#373433;
    &::before {
        content: url("https://cdn.shopify.com/s/files/1/0822/9892/9425/files/arrow_white.svg?v=1712127819");
        display: block;
        width: 22px;
        margin:7px 0 0 2px ;
        transform:rotate(0.93turn);
    }
}
.page-title{
    margin:120px 0;
}
.big-title{
    font-size:64px;
    font-weight:900;
    color:#CDDE00;
    span{
    color:#373433;
    }
}

.zh-title{
    font-size:16px;
    letter-spacing:5px;
}
.sliderimg-wrapper{
    width:100vw;
    display: flex;
    flex-flow: row;
    gap:20px;
    overflow:hidden;
    position: relative;
    .slide{
      flex-shrink: 0;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      width:28%;
      border-radius: 20px;
      overflow:hidden;
      transform: translateX(-20%);
    }
  }